html {
  background: url(rotomdex.jpg) no-repeat center center fixed;
  background-size: cover;
}
body {
  margin: 0;
}
#label {
  position: relative;
  font-weight: 600;
  color: #FBB13C;
  text-align: center;
  background-color: rgba(1,23,255,0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
}
#new {
  width: 520px;
  height: 520px;
  position: fixed;
  margin: -50px 0 0 -50px;
  left: 40%;
  top: 20%;
  transform-origin: center bottom;
}
/* Randomize button */
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: absolute;
  margin: -50px 0 0 -50px;
  left: 10%;
  top: 30%;
  visibility: hidden;
}
.button:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input {
  position: absolute;
  margin: -50px 0 0 -50px;
  left: 85%;
  top: 35%;
  padding: 5px;
}
#display {
  position: fixed;
  margin: -50px 0 0 -50px;
  left: 40%;
  top: 60%;
  opacity: 0;
}
#box {
  border: solid thick;
  width: 350px;
  height: 350px;
  position: absolute;
  margin: auto;
  margin-top: 175px;
  background-color: white;
}
#adjust {
  width: 80%;
  height: 300px;
  padding: 75px;
  padding-top: 25px;
  padding-right: 0px;
  padding-left: 25px;
}
#box2 {
  border: solid thick;
  width: 300px;
  height: 350px;
  position: absolute;
  margin: auto;
  margin-top: 175px;
  background-color: white;
  right: 0;
}
li {
  line-height: 30px;
  list-style-type: none;
  text-transform: capitalize;
  text-align: center;
}
#gen7 {
  height: 250px;
  padding: 50px;
}
/* https://codepen.io/jocchann/pen/MyxedP
Snippet by Joanna Chan */
/* @keyframes shake {
  0% {transform: rotate(0);}
  10% {transform: rotate(-10deg);}
  20% {transform: rotate(10deg);}
  30% {transform: rotate(-10deg);}
  50% {transform: rotate(0);}
  100% {transform: rotate(0);}
}
.shake {
  -webkit-animation-name: shake;
  animation: shake 1s 3;
} */
@keyframes appear {
  0% {opacity: 0}
  0% {transform: translateY(0);}
  100% {transform: translateY(150px);}
  100% {opacity: 1}
}
.appear {
  -webkit-animation-name: appear;
  animation: appear 1s forwards;

}
@media  {

}
